<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800040947305-9amovr39t44h969eh63hqe5tho7bbfun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800040947305-9amovr39t44h969eh63hqe5tho7bbfun</string>
	<key>API_KEY</key>
	<string>AIzaSyDwGU722EyNjvec2kGTbYQ_CM-vYcXU74c</string>
	<key>GCM_SENDER_ID</key>
	<string>800040947305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.enterprise</string>
	<key>PROJECT_ID</key>
	<string>enterprises-e3231</string>
	<key>STORAGE_BUCKET</key>
	<string>enterprises-e3231.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800040947305:ios:6ca73cb77c5a28c7ff5cf8</string>
</dict>
</plist>